.contentPageCard {
    width: 45vw;
    border-width: 20px;
    border-color: black;
    border-radius: 30px;
    background-color: #dce0e6;
}

.contentPageImage {
    border-radius: 30px 30px 0px 00px;
}

.contentPageComment {
    position: fixed;
    width: 20vw;
    height: 75vh;
    border-width: 20px;
    border-color: black;
    border-radius: 30px;
    background-color: #dce0e6;
}

.center-col {
    height: 55vh;
    flex: 1;
    overflow-y: scroll;
  }

.ContentpageLike-button{
    right: 0;
    margin-top: 10px;
    margin-left: 250px;
}

.myComment {
    flex-direction: row;
    width: 17vw;
}

.input-comment{
    width: 260px;
    height: 100px;
    margin-top: 35px;
}

.commentCard {
    width: 250px;
    border-width: 20px;
    border-color: black;
    border-radius: 30px;
    background-color: #dce0e6;
}

.ContentpageSubmit-button{
    margin-bottom: 90px;
    margin-left: 5px;
    height: 100px;
}

.card-title{
    font-weight: 700;
}