.contentPageCard {
    width: 45vw;
    border-width: 20px;
    border-color: black;
    border-radius: 30px;
    background-color: #dce0e6;
}

.contentPageImage {
    border-radius: 30px 30px 0px 00px;
    height: 500px;
    object-fit: cover;
}

.contentPageComment {
    position: fixed;
    width: 400px;
    height: 870px;
    border-width: 20px;
    border-color: black;
    border-radius: 30px;
    background-color: #dce0e6;
}

.center-col {
    height: 55vh;
    flex: 1;
    overflow-y: scroll;
  }

.ContentpageLike-button{
    right: 0;
    margin-top: 10px;
    margin-left: 250px;
}

.myComment {
    flex-direction: row;
    width: 360px;

}

.input-comment{
    width: 290px;
    height: 100px;
    margin-top: 35px;
}

.commentCard {
    display: flex;
    width: 330px;
    border-width: 20px;
    border-color: black;
    border-radius: 30px;
    background-color: #dce0e6;
}

.ContentpageSubmit-button{
    margin-top: 35px;
    height: 100px;
}

.card-title{
    font-weight: 700;
}

.link-noUnderline{
    color: black;
    text-decoration: none;
    margin-left: 20px;
}

.deleteCommentButton{
    color: red;
    width: 20px;
    height: 20px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    line-height: 0;
    background-color: transparent;
    border-color: transparent;
}

.avatar{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100px;
}

.commentRow{
    display: flex;
    flex-direction: row;
}

.commentColumn{
    display: flex;
    flex-direction: column;
    width: 235px;
}

.like-amount{
    position: absolute;
    display: flex;
    min-width: 130px;
    bottom: -3%;
    left: 95%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 85%);
    color: #1B98E8;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.commentTopic{
    font-size: 23px;
}

.real-like-button{
    background-color: #FFFFFF;
    height: 50px;
    width: 120px;
    border-radius: 10px;
    border-width: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.real-yesno-button{
    background-color: #D6001A;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border-width: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.real-liked-button{
    background-color: #FFFFFF;
    height: 50px;
    border-radius: 10px;
    border-width: 0px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
}

.real-delete-button{
    background-color: #D6001A;
    height: 50px;
    width: 120px;
    border-radius: 10px;
    border-width: 0px;
}

.test-like-button{
    height: 50px;
    width: 120px;
    border-radius: 10px;
    border-width: 0px;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 0), 
    radial-gradient(circle, #ff0081 20%, transparent 0),
    radial-gradient(circle, #ff0081 20%, transparent 0), ;
    background-size: 10% 10%, 20% 20%, 15% 15%,;
    background-position: 18% 40%, 20% 31%, 30% 30%,;

    transition:.75s background-position ease-in-out,75s background-size ease-in-out;
}

.test-like-button:hover{
    background-position: 5% 44%, -5% 20%, 7% 5%;
    background-size: 0% 0%;
}

.like-text{
    font-size: 22px;
    font-weight: 500;
    color: white;
}